RemoveDetect/RemoveDetect/Service References/RDService/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/WcfService1/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/WcfService1/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/WcfService1/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RDService" />
      <xsd:import schemaLocation="http://localhost:8001/WcfService1/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RemoveDetectData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_logon_InputMessage">
    <wsdl:part name="parameters" element="tns:logon" />
  </wsdl:message>
  <wsdl:message name="IService1_logon_OutputMessage">
    <wsdl:part name="parameters" element="tns:logonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editUser_InputMessage">
    <wsdl:part name="parameters" element="tns:editUser" />
  </wsdl:message>
  <wsdl:message name="IService1_editUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:editUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserList" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_searchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:addDevice" />
  </wsdl:message>
  <wsdl:message name="IService1_addDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:editDevice" />
  </wsdl:message>
  <wsdl:message name="IService1_editDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:editDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDeviceList_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeviceList" />
  </wsdl:message>
  <wsdl:message name="IService1_getDeviceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addToolsPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:addToolsPosition" />
  </wsdl:message>
  <wsdl:message name="IService1_addToolsPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:addToolsPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchTime_InputMessage">
    <wsdl:part name="parameters" element="tns:searchTime" />
  </wsdl:message>
  <wsdl:message name="IService1_searchTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="logon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logon" message="tns:IService1_logon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logonResponse" message="tns:IService1_logon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editUser" message="tns:IService1_editUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editUserResponse" message="tns:IService1_editUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUser" message="tns:IService1_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUserResponse" message="tns:IService1_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserList" message="tns:IService1_getUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserListResponse" message="tns:IService1_getUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchUsers" message="tns:IService1_searchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchUsersResponse" message="tns:IService1_searchUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteUser" message="tns:IService1_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteUserResponse" message="tns:IService1_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addDevice" message="tns:IService1_addDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addDeviceResponse" message="tns:IService1_addDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editDevice" message="tns:IService1_editDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editDeviceResponse" message="tns:IService1_editDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDeviceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDeviceList" message="tns:IService1_getDeviceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDeviceListResponse" message="tns:IService1_getDeviceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addToolsPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addToolsPosition" message="tns:IService1_addToolsPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addToolsPositionResponse" message="tns:IService1_addToolsPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchTime" message="tns:IService1_searchTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchTimeResponse" message="tns:IService1_searchTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logon">
      <soap:operation soapAction="http://tempuri.org/IService1/logon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <soap:operation soapAction="http://tempuri.org/IService1/editUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IService1/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserList">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/searchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDevice">
      <soap:operation soapAction="http://tempuri.org/IService1/addDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editDevice">
      <soap:operation soapAction="http://tempuri.org/IService1/editDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeviceList">
      <soap:operation soapAction="http://tempuri.org/IService1/getDeviceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToolsPosition">
      <soap:operation soapAction="http://tempuri.org/IService1/addToolsPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchTime">
      <soap:operation soapAction="http://tempuri.org/IService1/searchTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8001/WcfService1/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>