RemoveDetect/RemoveDetect/Service References/RDService/Service143.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RDService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RDService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/WcfService1/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RemoveDetectData" />
  <xs:complexType name="CommonOutputTOfuserVe5_SBHZS">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="CommonOutputTOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RDService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="user" Namespace="http://schemas.datacontract.org/2004/07/RemoveDetectData" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RemoveDetectData" minOccurs="0" name="data" nillable="true" type="q1:user" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonOutputTOfuserVe5_SBHZS" nillable="true" type="tns:CommonOutputTOfuserVe5_SBHZS" />
  <xs:complexType name="CommonOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonOutput" nillable="true" type="tns:CommonOutput" />
  <xs:complexType name="PageRowsOfArrayOfuserVe5_SBHZS">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageRowsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RDService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfuser" Namespace="http://schemas.datacontract.org/2004/07/RemoveDetectData" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RemoveDetectData" minOccurs="0" name="rows" nillable="true" type="q2:ArrayOfuser" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageRowsOfArrayOfuserVe5_SBHZS" nillable="true" type="tns:PageRowsOfArrayOfuserVe5_SBHZS" />
  <xs:complexType name="PageRowsOfArrayOfdeviceVe5_SBHZS">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageRowsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RDService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfdevice" Namespace="http://schemas.datacontract.org/2004/07/RemoveDetectData" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RemoveDetectData" minOccurs="0" name="rows" nillable="true" type="q3:ArrayOfdevice" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageRowsOfArrayOfdeviceVe5_SBHZS" nillable="true" type="tns:PageRowsOfArrayOfdeviceVe5_SBHZS" />
</xs:schema>